div.board-of-game {
    border: 1px solid #000000;
    position: absolute; 
    width: 98%; height: 48.5%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: xxx-large;
    font-family: cursive;
}
div.options-of-game {
    border: 1px solid #000000;
    position: absolute; 
    width: 98%; height: 48.5%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: xxx-large;
    font-family: 'Times New Roman', Arial;
    bottom: 1%;
    display: table;
}
div.containerform {
   background-color: #1178d3;
   text-align: center;
   position: absolute;
   visibility: hidden;
   z-index: 1;
   display: block;
   border: 1px solid #1ee9c2;
   right: 13px; 
}
div.elementsform {
    width: 100%;
    height: auto;
    background-color: black;
    float: left;
    left: 0;
    position: relative;
    text-align: center;
}
p.circle{
  text-align: center;
}
select {
  top: 2%;
  width: auto;
  border-radius:10px;
  position: relative;
  font-size: xxx-large;
  font-weight: bold;
}
label {
  display:inline;
  margin-bottom: 2px;
  position: relative;
  text-align: left;
  cursor: pointer;
  top: 2%;
  background-color: yellow;
  font-size: xxx-large;
  font-weight: bold;
}
fieldset{
   margin: 0%;
   width: 99.4%;
   height: 98.7%;
   padding: 0;
}
input[type=submit], button { 
   background-color: orange; 
   background-position: 0px -401px; 
   border: solid 3px #000000;
   color: #000000;
   width: 50%;
   white-space: pre-line;
   font-size: xxx-large;
   display: inline;
   position: relative;
   float: left;
   font-weight: bold;
}
input[type=radio]{
   width: 26px;
   height: 26px;
}
div.buttons{
  width: 100%;
  height: auto;
  position: relative;
  display: table-header-group;
}
form{
  height: 100%;
  margin-block-end: 0;
}
legend{
  font-size: xxx-large;
  font-weight: bold;
}
div.descriptionSettingsGame{
    width: 100%;
    height: -webkit-fill-available;
    background-color: green;
    position: relative;
    text-align: center;
    z-index: -1;
    border: 1px solid black;
    display: table-cell;
    vertical-align: middle; 
}
p.singPlayer, p.singComputer, p.sizeBoard, p.gamelevel, p.theFirstMove{
   background-color: red;
   font-size: x-large;
   text-align: left;
   width: 100%;
   height: auto;
   position: relative;
   display: flex;
   left: 0;
   margin-block-start: 10px;
   margin-block-end: 10px;
}
div.gameover{
   width: 98%;
   height: 48.5%;
   position: absolute;
   background-color: transparent;
   border: 1px solid black;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: xxx-large;
   font-family: 'Times New Roman', Arial;
   visibility: hidden;
}
span.spandesc{
  margin-left: 5%;
}
@media screen and (min-width: 480px) and (max-width: 1079px) {
 div.descriptionSettingsGame{
  font-size: 70px;
  font-weight: lighter; 
 }
 p.singPlayer, p.singComputer, p.sizeBoard, p.gamelevel, p.theFirstMove {
   font-size: xxx-large;
   }
}
