div.board-of-game {
    border: 1px solid #000000;
    position: absolute; 
    width: 48%; height: 98%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: xxx-large;
    font-family: cursive;
}
div.options-of-game {
    border: 1px solid #000000;
    position: absolute; 
    width: 48%; height: 98%;
    right: 1%;
    text-align: center;
    vertical-align: middle;
    font-size: xxx-large;
    font-family: 'Times New Roman', Arial;
}
div.containerform {
    background-color: #1178d3;
    text-align: center;
    position: relative;
    visibility: hidden;
    z-index: 1;
    display: flex;
    float: right;
    border: 1px solid #1ee9c2;
    width: max-content;
    right: 5px;
}
div.elementsform {
    width: 100%;
    height: auto;
    background-color: black;
    float: left;
    left: 0;
    position: relative;
    text-align: center;
}
p.circle{
  text-align: center;
}
select {
  width: auto;
  border-radius:10px;
  position: relative;
  font-size: xx-large;
  
}
label {
  display:inline;
  margin-bottom: 2px;
  position: relative;
  text-align: left;
  cursor: pointer;
  top: 2%;
  background-color: yellow;
 font-size: xx-large;
}
fieldset{
 margin: 0%;
 width: 99.4%;
 height: 98.7%;
 padding: 0;
}
select{ 
  top: 2%;
}
input[type=submit]{ 
   background-color: orange; 
   background-position: 0px -401px; 
   border: solid 3px #000000;
   color: #000000;
   width: 50%;
   height: auto;
   white-space: pre-line;
   font-size: xx-large;
   display: inline;
   position: relative;
   float: left;
}
div.buttons{
   width: 100%;
   height: auto;
   position: relative;
}
form{
   height: 100%;
   margin-block-end: 0;
}
legend{
   font-size: xx-large;
}
div.descriptionSettingsGame{
    width: 100%;
    height: -webkit-fill-available;
    background-color: green;
    position: absolute;
    text-align: center;
    z-index: -1;
    border: 1px solid black; 
}
p.singPlayer, p.singComputer, p.sizeBoard, p.gamelevel, p.theFirstMove{
    background-color: red;
    font-size: x-large;
    text-align: left;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    left: 0;
    margin-block-start: 10px;
}
div.gameover{
    width: 48%;
    height: 98%;
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-family: 'Times New Roman', Arial;
    visibility: hidden;
}
span.spandesc{
  margin-left: 5%;
}
